services:
  gateway:
    build:
      dockerfile: gateway.Dockerfile
    ports:
      - "23200:8080"
    environment:
      API_ADDRESS: "0.0.0.0:8080"
      DIARY_ADDRESS: "diary"
      AUTHORIZATION_ADDRESS: "authorization"
      LOG_ADDRESS: "log"
      SCHEDULE_ADDRESS: "schedule"
      TRAIN_ADDRESS: "train"
      USER_ADDRESS: "user"
      DIARY_PORT: "8080"
      AUTHORIZATION_PORT: "8080"
      LOG_PORT: "8080"
      SCHEDULE_PORT: "8080"
      TRAIN_PORT: "8080"
      USER_PORT: "8080"
      AUTH_SERVICE_JDBC_URL: "jdbc:postgresql://auth-postgres:5432/auth"
      AUTH_SERVICE_DB_USERNAME: "user"
      AUTH_SERVICE_DB_PASSWORD: "user"
    depends_on:
      - diary
      - log
      - schedule
      - train
      - user

  diary:
    build:
      dockerfile: diary.Dockerfile
    ports:
      - "23214:8080"
    environment:
      DIARY_PORT: 8080

  log:
    build:
      dockerfile: log.Dockerfile
    ports:
      - "23211:8080"
    environment:
      LOG_PORT: 8080
      KEYDB_HOST: "keydb"
      KEYDB_PORT: 6379
      LOG_SERVICE_JDBC_URL: "jdbc:postgresql://log-postgres:5432/log"
      LOG_SERVICE_DB_USERNAME: "user"
      LOG_SERVICE_DB_PASSWORD: "user"
    depends_on:
      - redis-cli
    networks:
      - default

  schedule:
    build:
      dockerfile: schedule.Dockerfile
    ports:
      - "23220:8080"
    environment:
      SCHEDULE_PORT: 8080

  train:
    build:
      dockerfile: train.Dockerfile
    ports:
      - "23212:8080"
    environment:
      TRAIN_PORT: 8080
  user:
    build:
      dockerfile: user.Dockerfile
    ports:
      - "23213:8080"
    environment:
      USER_SERVICE_JDBC_URL: "jdbc:postgresql://user-postgres:5432/user"
      USER_PORT: 8080
    depends_on:
      - user-postgres
  keydb:
#    TODO у keydb какое-то конченное версионирование, но надо бы уточнить версию тут
    image: eqalpha/keydb:latest
    container_name: keydb
    restart: always
    ports:
      - "6379:6379"
    command: keydb-server /etc/keydb/keydb.conf --appendonly yes
    healthcheck:
      test: [ "CMD", "keydb-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 3
    networks:
      - default
  redis-cli:
    image: redis:8.0-rc1
    container_name: redis-cli
    depends_on:
      - keydb
    entrypoint: [ "tail", "-f", "/dev/null" ]
    networks:
      - default
# у докера есть множественный deploy. Можно его использовать
#  но как вы можете догадаться - мне похуй даже на существование схем в бдшках
  log-postgres:
    image: postgres:13.3
    environment:
      POSTGRES_DB: "log"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "user"
    ports:
      - "5444:5432"
  auth-postgres:
    image: postgres:13.3
    environment:
      POSTGRES_DB: "auth"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "user"
    ports:
      - "5445:5432"
  user-postgres:
    image: postgres:13.3
    environment:
      POSTGRES_DB: "user"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "user"
    ports:
      - "5446:5432"

