services:
  authorization:
    build:
      dockerfile: Dockerfile.authorization
    ports:
      - "23210:23210"
    networks:
      - app-network

  diary:
    build:
      dockerfile: Dockerfile.diary
    ports:
      - "23214:23214"
    networks:
      - app-network

  log:
    build:
      dockerfile: Dockerfile.log
    ports:
      - "23211:23211"
    networks:
      - app-network

  schedule:
    build:
      dockerfile: Dockerfile.schedule
    ports:
      - "23220:23220"
    networks:
      - app-network

  train:
    build:
      dockerfile: Dockerfile.train
    ports:
      - "23212:23212"
    networks:
      - app-network

  user:
    build:
      dockerfile: Dockerfile.user
    ports:
      - "23213:23213"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge