services:
  gateway:
    build:
      dockerfile: Dockerfile.gateway
    ports:
      - "23200:8080"
    environment:
      API_ADDRESS: "0.0.0.0:8080"
      DIARY_ADDRESS: "diary"
      AUTHORIZATION_ADDRESS: "authorization"
      LOG_ADDRESS: "log"
      SCHEDULE_ADDRESS: "schedule"
      TRAIN_ADDRESS: "train"
      USER_ADDRESS: "user"
      DIARY_PORT: "8080"
      AUTHORIZATION_PORT: "8080"
      LOG_PORT: "8080"
      SCHEDULE_PORT: "8080"
      TRAIN_PORT: "8080"
      USER_PORT: "8080"

  authorization:
    build:
      dockerfile: Dockerfile.authorization
    ports:
      - "23210:8080"
    environment:
      AUTHORIZATION_PORT: 8080

  diary:
    build:
      dockerfile: Dockerfile.diary
    ports:
      - "23214:8080"
    environment:
      DIARY_PORT: 8080

  log:
    build:
      dockerfile: Dockerfile.log
    ports:
      - "23211:8080"
    environment:
      LOG_PORT: 8080

  schedule:
    build:
      dockerfile: Dockerfile.schedule
    ports:
      - "23220:8080"
    environment:
      SCHEDULE_PORT: 8080

  train:
    build:
      dockerfile: Dockerfile.train
    ports:
      - "23212:8080"
    environment:
      TRAIN_PORT: 8080
  user:
    build:
      dockerfile: Dockerfile.user
    ports:
      - "23213:8080"
    environment:
      USER_PORT: 8080